<!DOCTYPE html> 
{% load static %}
<html>
<head>
	<meta http-equiv="content-type" content="text/html" charset=utf-8" />
	{% load bootstrap5 %}
	{% bootstrap_css %}
</head>
<body >
	<nav class="navbar navbar-light bg-light d-flex justify-content-center">
		<a class="navbar-brand text-center" href="{% url 'index' %}">
			<img src="{% static 'home.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Home">
			Home
		</a>
		<a class="navbar-brand text-center" href="{% url 'login' %}">
			<img src="{% static 'login.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Login">
			Login
		</a>
		<a class="navbar-brand text-center" href="{% url 'logout' %}?next={% url 'index' %}">
			<img src="{% static 'logout.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Logout">
			Logout
		</a>
		<a class="navbar-brand text-center" href="{% url 'register' %}">
			<img src="{% static 'register.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Register">
			Register
		</a>
</nav>
	{% block content %}
	{% endblock content %}
</body>
</html>
