{% extends 'base.html' %}

{% block content %}
<div class="container text-center text-success">	
	<h2 class="pt-3">Hello, {{ user.username|default:'Guest' }}!</h2>
	<div class="container mt-3 btn btn-warning" style="width:10%">
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
	</div>
</div>
{% endblock %}
