{% extends 'base.html' %}
{% block content %}
<div class="justify-content-center container d-flex align-items-center">
<div class="card border-0" style="max-width: 300px width:80%">
			<h4 class='text-center p-3'> Confirm delete {{ note.title }} </h2>
			<form method="POST">
				{% csrf_token %}
				<div class="text-center">
					<button class='btn btn-danger' type="submit" name='confirm'>Yes</button>
					<a href="{% url 'index' %}" class="btn btn-success">No</a>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
{% endblock %}
