{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<div class="py-5 text-center">
			<h2>"Lorem ipsum"</h2>
		</div>
		<div class="row">
			<div class="col-md-4 order-md-2 mb-4">
					<h2 class="d-flex justify-content-between align-items-center mb-3">Categories</h2>
					<ul class="list-group mb-3">
						<li class="list-group-item d-flex justify-content-between lh-condensed"><a href="{% url 'index' %}">All</a></li>
						{% for cat in categories %}
						<li class="list-group-item d-flex justify-content-between lh-condensed"><a href="{% url 'index' %}?category={{ cat.title }}">{{ cat.title|safe }}</a></li>
						{% endfor %}
					</ul>
					{% if username != None %}
					<h2 class="d-flex justify-content-between align-items-center mb-3">Add new note</h2>
					<form method="POST" class="card p-3">
						{% csrf_token %}
						<div class="input-group">
							{{ form | crispy }}
						</div>
						<div class="text-center">
						<button type="submit" class="btn btn-success">Create note</button>
						</div>
					</form>
					{% endif %}
		<!-- end #sidebar -->
		</div>
	    <div class="col-md-8 oder-md-1 content-card" >
			{% for note in notes %}
				<div class="card" data-background="color" data-color="blue" data-radius="none" style="margin-bottom:30px">
					<div class="card-body">
						<h6 class="category">{{ note.reminder|date:'Y-m-d' }}</h6>
						<h4 class="card-title">{{ note.title }}</h4>
						<p class="card-text">{{ note.text|safe }}</p>
						{% if note.creator %}
						<p class="card-text">Created by: {{ note.creator.username }}</p>
						{% endif %}
						{% if note.creator == username and username != None %}
						<a href="{% url 'note_detail' note.id %}" class='btn btn-warning'>Edit Note</a>
						<a href="{% url 'delete_note' note.id %}" class='btn btn-danger'>Delete Note</a>
						{% endif %}
	        </div>
	      </div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
