{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="max-width:500px">
<div class="card mb-3 rounded" style="min-width:80%">
					<h2 class="card-header text-center">Brief note</h2>
					<ul>
						<li class="card-text">{{ note.title|safe }}</li>
						<li class="card-text">{{ note.text|safe }}</li>
						<li	class="card-text">{{ note.reminder|safe }}</li>
						<li	class="card-text">{{ note.category|safe }}</li>
						<li class="card-text">{{ note.creator|safe }}</li>
					</ul>
					<h2 class="card-header text-center">Edit note</h2>
					<form method="POST" class="form-group">
						{% csrf_token %}
						{{ form | crispy }}
						<div class="text-center pb-3">
						<button type="submit" class="btn btn-success">Update note</button>
						<a href={% url 'index' %} class="btn btn-primary">Back</a>
						</div>
					</form>
		<!-- end #sidebar -->
</div>
</div>
{% endblock %}
