{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container text-center" style="max-width:30%">
		<h2>Register</h2>

		<form class="card p-3" method="post">
			{% csrf_token %}
			{{ form | crispy }}
			<input type="submit" value="Register">
		</form>

	<a class="btn" href="{% url 'login' %}">Back to login</a>
</div>
{% endblock %}
